#designIntro {
  background-color: rgba(0,0,0,0.8);
  padding-bottom: 15px;
}

.rotateMe {
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

.thumbnailOverwrite {
  padding: 0px !important;
  border: none !important;
}

#appstore.thumbnail{
	background-color: transparent;
	border:  none;
}
